nav ul{
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: normal;
  list-style-type: none;
  margin: 1rem;
}

li {
  margin: 1rem;
}

.blog-page {
  display: grid;
  grid-auto-columns: auto;

}